$necromancer: #080327;
$thieves-guild: #22146C;
$magic-circle: #4E2EB7;
$eldritch-blast: #BC61FA;
$enchantment: #1EB5E0;
$chill-touch: #4DDDE2;
$lawful-neutral: #EFEFEF;
$fireball: #EB68A8;
$golden-dragon: #F9BE49;

$background: $magic-circle;
$accent: $eldritch-blast;
$highlight: $chill-touch;
$text: $lawful-neutral;
